.greenbg{
    background-color: green;
}
.greentxt{
    color:green;
}
h5{
    color:white;
}
.orangebg{
    background-color: orange;
}
.card-text{
    margin-top: 20px;
}
.orangetxt{
    color:orange;
}
.aquabg{
    background-color: aqua;
}
.aquatxt{
    color:aqua;
}